body {
  background: url("./bg.jpeg");
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.inner-container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  width: 40vw;
  padding: 50px;
}

tr,
td,
th {
  border: 1px solid #cccccc;
  padding: 15px;
}

table {
  margin: 20px 0;
  background: white;
  border-spacing: 0px;
  border-radius: 50px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 5px;
}

h1 {
  font-family: Neutral Face;
  color: #ffaa75;
  margin: 20px;
}

h2 {
  font-family: Neutral Face;
  color: #cccccc;
}

@font-face {
  font-family: Neutral Face;
  src: url("./NeutralFace-Bold.otf");
}
